<% if (currentPage !== '/users/signup') { %>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark py-1" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand m-auto" href="/">My Game Library</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/developers">Developer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/developers/new">Add Developer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/games">Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/games/new">Add Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<% } %>