<% if (!error) { %>
<div class="container">
    <h2>New Developer</h2>
    <form action="/developers" method="POST">
        <%- include('_form_fields') %>
        <div class="d-grid gap-2 d-flex justify-content-end my-3">
            <a href="/developers" class="btn btn-warning">Cancel</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
<% } else { %>
    <h2>New Developer</h2>
    <p> Please sign in as admin to access this page</p>
    <form action="/users/signin" method="GET">
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
<% } %>