<div class="container">
    <h2>Search Games</h2>
    <form action="/games" method="GET">
        <div>
            <label>Title</label>
            <input type="text" name="title" value="<%= searchOptions.title %>" class="form-control">
        </div>
        <div class="row my-3">
            <div class="col-sm">
                <label>Published After</label>
                <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>" class="form-control">
            </div>
            <div class="col-sm">
                <label>Published Before</label>
                <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>" class="form-control">
            </div>
        </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
    </form>
</div>
<br>
<%- include('../partials/gameGrid', {games : games}) %>