<label for='username'>Username:</label>
<input type="text" id="username" name="username" value="<%=user.username || '' %>" required>
<br>
<label for="passoword">Password:</label>
<input type="password" id="password" name="password" value="<%=user.password || ''%>" required>
