<label for='username' class="form-label">Username:</label>
<input type="text" id="username" name="username" class="form-control" value="<%=user.username || '' %>" required>
<br>
<label for="passoword" class="form-label">Password:</label>
<input type="password" id="password" name="password" class="form-control" value="<%=user.password || ''%>" required>
