<h2>Sign Up</h2>
<%- include('../partials/errorMessage') %>
<form action="/users/signup" method="POST">
    <%- include('_form_fields') %>
    <div>
        <a href="/users">Cancel</a>
        <button type="submit">Create</button>
    </div>
</form>
